{sub_dirs, ["apps/*", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, ".."}, warnings_as_errors]}.

{deps, [
%    {erl_img, ".*", {git, "git://github.com/evanmiller/erl_img.git", "92ccebcf5d"}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.2"}},
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "0.7.2"}},
	{ejwt, ".*", {git, "git://github.com/artefactop/ejwt.git", "6c511f4f62"}}
]}.

{cover_enabled, true}.
{cover_print_enable, true}.
 
{plugins, [rebar_covertool]}.
{cover_export_enabled, true}.