[
    {<<"watermark">>, <<"watermark.png">>},
    {<<"images">>,
        [
            [
            {<<"lang">>,
                [
                {<<"en">>,<<"Where is Bob?">>},
                {<<"es">>, <<"Donde está Bob?">>}
                ]
            },
            {<<"img">>, <<"bob.png">>}
            ] ,
            [
            {<<"lang">>,
                [
                {<<"en">>,<<"Where is Patricio?">>},
                {<<"es">>,<<"Donde esta Patricio?">>}
                ]
            },
            {<<"img">>, <<"patricio.png">>}
            ],
            [
            {<<"lang">>,
                [
                {<<"en">>,<<"Where is Calamardo?">>},
                {<<"es">>,<<"Donde esta Calamardo?">>}
                ]
            },
            {<<"img">>, <<"calamardo.jpg">>}
            ]
        ]
    }
].